@charset "utf-8";

body{

}

*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}

.header{
    width: 100%;
    height: 63px;
    /* background: gold; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 16px;
    box-sizing: border-box;
}

.header h1 a{
    display: block;
    width: 106px;
    height: 20px;
    background: url(../images/logo.png);
    text-indent: -999999px;
}

.header ul{
    display: flex;
    gap: 30px;
}

.header ul li a{
    color: #fff;
    font-size: 20px;
}

.visual{
    width: 100%;
}

.visual img{
    width: 100%;
    height: 100%;
}
