@charset "utf-8";

body{

}

*{margin: 0; padding: 0;}

div{
    width: 800px;
    height: 100px;
    border: 1px solid red;
    margin-bottom: 10px;
}

.box1{
    background-color: #00ff00;
}

.box2{
    background-color: rgb(0,225,0);
}
.box3{
    background-color: rgba(0,255,0,0.2);
}
.box4{
    background: #ff00ff;
}
.box5{
    background: rgb(255,0,255);
}