@charset "utf-8";
body{

}

h1{
    background-color: yellow;
    position: fixed;
    left: 0;
    bottom: 0;

}

div{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}

.box1{
    background-color: red;

    /* 브라우저 기준으로 공중에 뛰움 */
    position: absolute;

    /* position에서 중앙 정렬 */
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    

}

.box2{
    background-color: green;
    position: relative;
}

.box2 div{
    width: 80px;
    height: 80px;
    border: ipx solid black;
}

.box2 .child1{
    background-color: orange;

    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 4;
}

.box2 .child2{
    background-color: pink;

    position: absolute;
    left: 90px;
    top: 90px;
    z-index: 5;
}

.box3{
    background-color: blue;
}

.box4{
    background-color: lightblue;

    position: absolute;
    right: 0;
    bottom: 0;
    /* position명령으로 공중에 띄운 명령 해제 */
    position: static;
}