@charset "utf-8";

body{

}

*{margin: 0; padding: 0;}

div{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    left: 0; 
    top: 0;
    /* 애니메이션 실행 명령 */
    /* animation-name: rotate_ani; */
    /* 애니메이션 실행 시간 */
    /* animation-duration: 3s; */
    /* 원래 위치로 되돌아가는것 방지 */
    /* animation-fill-mode: forwards; */
    /* 원하는 갯수만큼 반복실행 무한반복*/
    /* animation-iteration-count: infinite; */
    /* 시계 반대반향으로 애니메니션 */
    /* animation-direction: reverse; */
    /* 한번은 시계방향, 한번은 반대방향 */
    /* animation-direction: alternate; */
    /* 가속도 */
    /* animation-timing-function: ease-in-out; */
    /* 지연시간 */
    /* animation-delay: 2s; */

    /* 애니메이션 실행 약식(shorts hand) */
    animation: rotate_ani 4s ease-in-out infinite forwards 2s ;
}

/* 애니메이션 설정 */
@keyframes circle_ani {
    from{left: 0;}
    to{left: 1000px;}
}

/* 애니메이션 설정 */
@keyframes move_ani {
    0%{left: 0;}
    100%{left: 1500px;}
    
}

/* 애니메이션 설정 */
@keyframes rotate_ani {
    0%{left: 0;}
    25%{left: 1000px; top: 0; background-color: blue;}
    50%{left: 1000px; top: 300px; background-color: yellow;}
    75%{left: 0; top: 300px; background-color: pink;}
    100%{left: 0; top: 0; background-color: red;}

}