@charset "utf-8";

body{

}

*{margin: 0; padding: 0;}
button{border: none; background: none;}


.box{
    width: 500px;
    height: 300px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.box .tit{
    position: absolute;
    left: 55px;
    top: 155px;
    animation: tit_ani 2s ease-in-out forwards;
}

@keyframes tit_ani {
    0%{left: 55px; top: -53px;}
    100%{left: 55px; top: 155px;}
}

.box .pictur{
    position: absolute;
    right: 0;
    bottom: -283px;
    animation: picture_ani 2s ease-in-out forwards 2s;
}

@keyframes picture_ani {
    0%{right: 0; bottom: -283px; }
    100%{right: 0; bottom: -5px;}
}