@charset "utf-8";

body{

}

*{margin: 0; padding: 0;}

div{
    width: 800px;
    height: 600px;
    border: 5px solid red;
    margin: 0 auto;
    text-align: justify;
    /* 부모요소보다 초과된 데이타를 안보이게 할때 */
    overflow: hidden; 
    /* overflow: scroll; */
    overflow: auto;
    /* overflow-x: scroll; */
}