@charset "utf-8";

body{
background: #333;
}

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

h1{
    color: #fff;
    margin: 0 auto; 
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
}

ul{
    width: 640px;
    /* background: gold; */
    margin: 100px auto;
    display: flex;
    gap: 20px;
}

ul li{
    width: 200px;
    height: 80px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 80px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px #fff;
}

ul li:hover a{
    background-image: linear-gradient(to bottom, #fbc048, #f44206); 
}

ul li a{
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #8b908a, #1a1a1a);
    color: #fff;
}
