@charset "utf-8";

body{
background: #555;
}

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

h1{
    color: #000;
    margin: 0 auto; 
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
}

ul{
    width: 640px;
    /* background: gold; */
    margin: 100px auto;
    display: flex;
    gap: 20px;
}

ul li{
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 3px 8px #fff;
}

ul li:hover a{
    background-image: linear-gradient(to bottom, #ff9835 50%, #cc0001 50%); 
}

ul li a{
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #555 50%, #222 50%);
    color: #fff;
}
