@charset "utf-8";
body{
    font-family: "맑은 고딕", "malgun gothic", sans-serif;
}

*{margin: 0; padding: 0;}
button{border: none;}
li{list-style: none;}
a{text-decoration: none;}


.header{
    width: 100%;
    height: 45px;
    background-color: #33353f;
    display: flex;
    justify-content: space-between;
}

.header button img{
    width: 45px;
}

.header h1 a img{
    width: 90px;
}

/* slickslide */
.slickslide{
    width: 100%;
    /* height: 385px; */
    /* background: gold; */
    position: relative;
}

.slickslide img{
    width: 100%;
    height: 100%;
    display: block;

}


/* 슬라이드 prew 버튼 커스터마이징 */
.slick-prev{
    /* border: 2px solid red; */
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 16px;
    height: 30px;
    background: url(../images/imgi_48_btn_health_left.png) no-repeat;
    text-indent: -99999px;
    cursor: pointer;
}

.slick-next{
    /* border: 2px solid red; */
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 16px;
    height: 30px;
    background: url(../images/imgi_47_btn_health_right.png) no-repeat;
    text-indent: -99999px;
    cursor: pointer;
}

/* 페이지버튼 커스터마이징 */
ul.slick-dots{
    /* border: 2px solid blue; */
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    gap: 8px;
}
ul.slick-dots li button{
    width: 8px;
    height: 8px;
    background: #fff;
    opacity: 0.5;
    border-radius:100%;
    text-indent: -99999px;
    cursor: pointer;
}

/* 슬라이드가 활성화됐을때 */
ul.slick-dots li.slick-active button{
    background: #007aff;
}
