@charset "dtf-8";
/* 웹폰트 설정 */
/* @font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-display: swap;
} */

body{
    font-family: "맑은 고딕", " Malgun Gothic", sans-serif;
}

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}


.box{
    width: 660px;
    border: 1px solid #ebebeb;
    margin: 50px auto 0 ;
    padding: 20px;
}

.box ul{
    display: flex;
    /* 가로 사이즈가 차면 다음줄로 줄바꿈 */
    flex-wrap: wrap;
    gap: 12px;
}

.box ul li{
    width: 156px;
    /* background-color: gold; */
}


.box ul li a{
    display: block;
    width: 100%;
    height: 100%;
}

.box ul li a .imgbox{
    width: 100%;
    height: 150px;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    overflow: hidden;
}

.box ul li a .imgbox img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.box ul li a p{
    font-size: 14px;
    color: #222;
    margin-top: 14px;
    line-height: 22px;
    font-weight: 300;
}

.box ul li:hover a p{
    text-decoration: underline;
}

.box ul li:hover a .imgbox img{
    transform: scale(1.1);
}