@charset "utf-8";

body{

}

*{margin: 0; padding: 0;}


.wrap{
    width: 1000px;
    background-color: pink;
    margin: 0 auto;
}

.wrap .header{
    width: 1000px;
    height: 50px;
    background-color: lightblue;
}

.wrap .box{
    width: 1000px;
    height: 300px;
    background-color: gold;
}
.wrap .box div{
    width: 333.33px;
    height: 300px;
    background-color: green;
    float: left;
}
.wrap .box .chi2{
    background-color: aqua;
}
.wrap .box .chi3{
    background-color: orange;
}
.wrap .content{
    width: 1000px;
    height: 300px;
    background-color: #ffff00;
}
.wrap .footer{
    width: 1000px;
    height: 50px;
    background-color: #eee;
}