@charset "utf-8";

*{margin: 0; padding: 0;}

li{list-style: none;}

body{

}
    .box{
        width: 1000px;
        height: 500px;
        border: 5px solid #0100fb;
        margin: 0 auto;
    }
    .box div{
        width: 300px; 
        height: 200px;
        border: 4px solid #000;
        float: left;
        /* margin-right: 20px;
        margin-top: 20px; */
        margin: 20px 20px 0 0;
        border-radius: 16px;
    }

    ul{
        width: 1000px;
        height: 500px;
        border: 5px solid #0100fb;
        margin: 20px auto 0; 
    }
    ul li{
        width: 300px;
        height: 200px;
        border: 4px solid #000;
        /* 아래로 쌓여진 요소를 옆으로 배치하는 명령 */
        float: left;
        margin: 20px 20px 0 0;
        border-radius: 16px;
    }