@charset "utf-8";

body{

}
*{margin: 0; padding: 0;}

a{
    text-decoration: none;
}

.box{
    width: 1470px;
    height: 200px;
    margin: 0 auto;
}
.box div{
    width: 490px;
    height: 200px;
    background-color: gold;
    float: left;
    box-sizing: border-box;
}
.box .chi1{
    background: #907354 url(../images/speed_menu_icon_02.png) no-repeat 300px center;
}
.box .chi1:hover{
    background: #907354 url(../images/speed_menu_icon_03.png) no-repeat 300px center;
}

.box .chi2{
    background: #434343 url(../images/speed_menu_icon_03.png) no-repeat 300px center ;
}
.box .chi2:hover{ 
    background: #434343 url(../images/speed_menu_icon_04.png) no-repeat 300px center ;
}

.box .chi3{
    background: #c30606 url(../images/speed_menu_icon_04.png) no-repeat 300px center  ;
}

.box .chi3:hover{
    background: #c30606 url(../images/speed_menu_icon_02.png) no-repeat 300px center;
}


.box div a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 36px;
}
.box div h2 {
    color: #fff;
}

.box div p{
    color: #fff;
}