@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{
    font-family: "Noto Sans KR", sans-serif;
}

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
button{border: none; background: none;}

/* 메인이미지 */
.visual{
    width: 100%;
    height: 960px;
    background: url(../images/mainslide_img01.jpg) no-repeat center top;
}

.header{
    width: 1100px;
    height: 66px;
    background-color: #fff
    ;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    /* 옆으로 정렬 */
    display: flex;
    /* 양쪽 균등 정렬 */
    justify-content: space-between;
    /* 가운데 정렬 */
    align-items: center;
    /* 원래 사이즈 유지(패딩,보더두께 X) */
    box-sizing: border-box;
    padding: 0 30px;
}

.header h1 a{
    /* a블럭 크기 설정 변환 명령 */
    display: block;
    width: 113px;
    height: 37px;
    background: url(../images/header_logo.jpg) no-repeat;
    /* 글자는 지우면 안되고 화면 밖으로 보냄 */
    text-indent: -999999px;
}

/* 주메뉴 */
.header ul.gnb{
    /* 왼쪽부터 가로 정렬 */
    display: flex;
    gap: 66px;
}

.header ul.gnb a{
    font-size: 17px;
    font-weight: 700;
    color: #626262;
}

.header ul.gnb>li{
    position: relative;
    /* background-color: pink; */
    padding: 18px 0;
}

.header button{
    width: 32px;
    height: 21px;
    border: 1px solid #ddd;
    font-size: 11px;
    color: #9b9b9b;
    cursor: pointer;
}

/* hover 일때 글자색 바꾸고 아래 테두리 */
.header ul.gnb>li:hover>a{
    color: #3381c0; 
    border-bottom: 2px solid #3381c0;
} 

.header ul.gnb>li{position: relative;}

/* 경계선 */
.header ul.gnb>li::before{
    content: '';
    width: 1px; height: 27px; background-color: #c8c8c8;
    /* 반드시 공중에 띄어서 배치 */
    position: absolute;
    left: -33px;
    top: 50%;
    transform: translateY(-50%);
}
/* 맨 앞 경계선 지우기 */
.header ul.gnb>li:first-child::before{display: none;}

/* 2차메뉴 디자인 */

.header .gnb>li>.depth2{
    width: 166px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 63px;
    transform: translateX(-50%);
    border: 1px solid #c8c8c8;
    border-top: none;
    text-align: center;
    display: none;
    z-index: 5;
}

.header .gnb>li>.depth2 li{
    line-height: 35px;}

.header .gnb>li>.depth2 li:hover{
    background-color: #3381c0;
}

.header .gnb>li>.depth2 li:hover a{
    color:#fff;
    background:url(../images/icon_arrow2.png) no-repeat left center;
}

.header .gnb>li>.depth2 li a{
    font-size: 14px;
    color: #555;
    padding: 0 10px;
    
}

/* 1차 메뉴의 li에 hover하면 2차 메뉴가 보임 */
.header .gnb>li:hover>.depth2{
    display: block;
}


