@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{
    font-family: "Noto Sans KR", sans-serif;
}

*{margin: 0; padding: 0;}

}
.grd{
    width: 1000px;
    height: 200px;
    border: 1px solid black;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, navy, purple);
    margin: 20px auto 0;
    
}