@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{
    font-family: "Noto Sans KR", sans-serif;
}

*{margin: 0; padding: 0;}

div{
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom, #069500, #fff);
    text-align: center;
    margin: 45px auto 0;
}
button{
    width: 130px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom, #8dd9fd, #1f70c9);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 700px;
}
.grd{
    width: 1000px;
    height: 200px;
    border: 1px solid black;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, navy, purple);
    margin: 100px auto 0;
    
}