@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{
    font-family: "Noto Sans KR", sans-serif;
}

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
button{border: none; background: none;}


.grd1{
    width: 400px;
    height: 200px;
    background: red;
    /* gradient */
    /* background-image: linear-gradient(방향,색상1,색상2,색상3); */
    background-image: linear-gradient(to bottom, red, yellow);
    /* 각도 */
    background-image: linear-gradient(45deg, red, yellow);
}

.grd2{
    width: 600px;
    height: 300px;
    background-image: linear-gradient(red, yellow, blue);
}

.grd3{
    width: 800px;
    height: 400px;
    background-image: radial-gradient(red, yellow, blue);
}