@charset "utf-8";

body{
    background-color: #333;
    font-family: "맑은 고딕", "malgun gothic", sans-serif;
}

*{margin: 0; padding: 0;}

div{
    width: 658px;
    height: 507px;
    border: 10px solid #fff;
    margin: 130px auto 0;
    position: relative;
    overflow: hidden;
}

div h2{
    width: 100%;
    height: 150px;
    line-height: 150px;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    position: absolute;left:-100%;top: 50%;
    margin-top: -75px;
    transition: all 1s ease-in-out ;
}

div:hover h2{
    left: 0;
}