@charset "utf-8";
body{
    background: #fff;
    color: #333;
}

*{margin: 0; padding: 0;}
a{text-decoration: none;}

.header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    width: 200px;
    height: 40px;
    background: bisque;
}

.header .gnb{
    width: 600px;
    height: 40px;
    background: olivedrab;
}

.slide{
    width: 1200px;
    height: 300px;
    background: darkkhaki;
    margin: 0 auto;
}

.contents{
    width: 1200px;
    height: 200px;
    background: chocolate;
    margin: 0 auto;
    display: flex;
}

.contents .notice{
    width: 400px;
    height: 200px;
    background: darkcyan;
}

.contents .banner{
    width: 400px;
    height: 200px;
    background: forestgreen;
}

.contents .go{
    width: 400px;
    height: 200px;
    background: darkorange;
}

.footer{
    width: 1200px;
    height: 100px;
    background: firebrick;
    margin: 0 auto ;
    display: flex;
    align-items: center;
}

.footer .logo{
    width: 200px;
    height: 40px;
    background: fuchsia;
}

.footer .copy{
    width: 800px;
    height: 100px;
    background: hotpink;
}

.footer .sns{
    width: 200px;
    height: 100px;
    background: grey;
}