@charset "utf-8";

body{
    background: #fff;
    color: #333;
}

*{margin: 0; padding: 0;}
a{text-decoration: none;}
.wrap{
    width: 1200px;
    margin: 0 auto;
}

.header{
    width: 1200px;
    height: 100px;
    background: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    width: 200px;
    height: 40px;
    background: antiquewhite;
}

.header .gnb{
    width: 800px;
    height: 40px;
    background: blueviolet;
}

.slide{
    width: 1200px;
    height: 300px;
    background: burlywood;
}

.contents{
    width: 1200px;
    height: 200px;
    background: chocolate;
    display: flex;
}
.contents .notice{
    width: 400px;
    height: 200px;
    background: darkcyan;
}

.contents .banner{
    width: 400px;
    height: 200px;
    background: greenyellow;
}

.contents .go{
    width: 400px;
    height: 200px;
    background: gold;
}

.footer{
    width: 1200px;
    height: 100px;
    background: hotpink;
    display: flex;
    align-items: center;
}

.footer .logo{
    width: 200px;
    height: 40px;
    background: khaki;
}

.footer .down{
    width: 1000px;
    height: 100px;
    background: palegreen;
}

.footer .down .menu{
    width: 1000px;
    height: 50px;
    background: skyblue;
}
.footer .down .copy{
    width: 1000px;
    height: 50px;
    background: sandybrown;
}